a {
    color: greenyellow;
    text-decoration: none;
}

#case {
    overflow: scroll;
}

.content-tr {
    max-height: 60px;
}

tbody tr {
    max-height: 100px;
    overflow-y: scroll;
}

tbody td {
    /*color: #B9B9B9;*/
    color: black;
    overflow-y:scroll;
    max-height: 100px;
    white-space: nowrap;
    max-width: 500px;
}

tbody {
    height: 10px;
    overflow: hidden;
}


/*td {*/
/*    word-break:keep-all;*/
/*    white-space: nowrap;*/
/*    color: #B9B9B9;*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*    max-width: 300px;*/
/*}*/
/*td {*/
/*    color: #B9B9B9;*/
/*    !*word-break:keep-all;*!*/
/*    !*white-space: nowrap;*!*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*    height: 100px;*/
/*}*/








